@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #F9F8F2;
    --foreground: #333333;
    --card: #ffffff;
    --card-foreground: #333333;
    --primary: #73BDA8;
    --primary-foreground: #ffffff;
    --secondary: #B2D3C2;
    --secondary-foreground: #333333;
    --muted: #f1f5f9;
    --muted-foreground: #64748b;
    --border: #e2e8f0;
  }
}